package ${packageName}.entity;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.Table;
import java.util.Date;

/**
 * ${tableComment}
 * @author ${author}
 */
@Entity
@Table(name = "${tableName}")
public class ${entityName} {
#foreach($columnInfo in $columnInfoList)
    /**
     * ${columnInfo.columnComment}
     */
    private ${columnInfo.fieldType} ${columnInfo.fieldName};

#end
#foreach($columnInfo in $columnInfoList)
#set ($methodName = $columnInfo.fieldName.substring(0, 1).toUpperCase() + $columnInfo.fieldName.substring(1))
#if ($columnInfo.isKey)
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
#end
    @Column(name = "${columnInfo.columnName}")
    public ${columnInfo.fieldType} get$methodName() {
        return ${columnInfo.fieldName};
    }

    public void set$methodName(${columnInfo.fieldType} ${columnInfo.fieldName}) {
        this.${columnInfo.fieldName} = ${columnInfo.fieldName};
    }

#end
}
