package ${packageName}.repository;

import ${packageName}.entity.${entityName};
import org.springframework.data.jpa.repository.JpaRepository;

/**
 * ${tableComment}
 * @author ${author}
 */
public interface ${entityName}Repository extends JpaRepository<${entityName}, Integer> {
}
