package ${packageName}.service;

import com.strr.mall.base.service.CommonService;
import ${packageName}.entity.${entityName};

/**
 * ${tableComment}
 * @author ${author}
 */
public interface ${entityName}Service extends CommonService<${entityName}, Integer> {
}
